/*****************************************************
CSS general
*****************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color_nav: #0084fd;
    --primary_color: #ffffff;
    --dark_color: #000000;
    --even_color: #9792e4;
    --grey_benefits: #a5a5a5;
    --contrast_color: #fdc15f;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'PT Sans', sans-serif;
}

.container {
    padding: 15px;
}

/*****************************************************
SITE SECTIONS
*****************************************************/

/* HEADER */

header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 5rem;
    /* background-color: var(--color_nav); */
}

ul {
    list-style: none;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: none;
}

header nav a {
    color: var(--primary_color);
}

/* MAIN */

main {
    margin-top: 5rem;
}

/*****************************************************
MEDIA QUERY
*****************************************************/

@media screen and (min-width: 992px) {
    header nav ul {
        display: block;
    }
}