/*****************************************************
CSS GENERAL
*****************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color_nav: #0084fd;
    --primary_color: #ffffff;
    --dark_color: #000000;
    --even_color: #9792e4;
    --grey_benefits: #a5a5a5;
    --contrast_color: #fdc15f;
    --card_color: #b5ddff;
    --text_card_color: #5a6e7f;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'PT Sans', sans-serif;
}

.container {
    padding: 20px;
}

.grid {
    border: 2px solid black;
}

/*****************************************************
SITE SECTIONS
*****************************************************/

/* HEADER */

header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 5rem;
    background-color: var(--color_nav);
}

ul {
    list-style: none;
}

.text {
    text-decoration: none;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: none;
}

header nav a {
    color: var(--primary_color);
}

.fa-bars {
    font-size: 28px;
}

/* MAIN */

main {
    margin-top: 8rem;
}

.card {
    margin: 20px;
    border-radius: 10px;
    background-color: var(--card_color);
    padding: 38px 25px;
}

.card_left {
    margin-left: 1rem;
}

.h3_style {
    color: var(--color_nav);
    padding-bottom: 35px;
    font-size: 25px;
}

.text_card {
    color: var(--text_card_color);
    font-weight: bold;
    line-height: 33px;
    font-size: 20px;
}

.btn {
    padding: 10px 55px;
    border-radius: 20px;
    border-style: none;
}

#btn_card {
    background-color: var(--color_nav);
    margin-top: 40px;
    margin-bottom: 35px;
}

.btn_text {
    color: var(--primary_color);
    font-weight: bold;
    font-size: 22px;
}

.fa-apple {
    margin-right: 8px;
}

#card_right_img {
    width: 100%;
}

.p_b_0 {
    padding-bottom: 0;
}

.icons {
    color: var(--color_nav);
    font-size: 95px;
    padding-bottom: 30px;
}

.text_align {
    text-align: center;
}


/*****************************************************
MEDIA QUERY
*****************************************************/

@media screen and (max-width: 991px) {
    .flex_nav_desktop {
        display: none;
    }

    .flex_nav_tablet {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 75rem;
        margin: 0 auto;
    }

    header nav .fa-solid {
        display: none;
    }

    .flex_nav_desktop {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    header nav ul {
        display: block;
        color: var(--primary_color);
    }

    header nav ul li {
        padding: 15px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .flex_card_tablet {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    .card_left_tablet {
        width: 68%;
    }

    .card_right_tablet {
        width: 32%;
        padding-bottom: 35.8rem;
    }
}