/*****************************************************
CSS GENERAL
*****************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color_nav: #0084fd;
    --primary_color: #ffffff;
    --dark_color: #000000;
    --even_color: #9792e4;
    --grey_benefits: #a5a5a5;
    --contrast_color: #fdc15f;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'PT Sans', sans-serif;
}

.container {
    padding: 20px;
}

.grid {
    border: 2px solid black;
}

/*****************************************************
SITE SECTIONS
*****************************************************/

/* HEADER */

header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 5rem;
    background-color: var(--color_nav);
}

ul {
    list-style: none;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: none;
}

header nav a {
    color: var(--primary_color);
}

/* MAIN */

main {
    margin-top: 5rem;
}

.text {
    text-decoration: none;
}

/*****************************************************
MEDIA QUERY
*****************************************************/

@media screen and (max-width: 991px) {
    .container {
        max-width: 62rem;
    }

    .flex_nav_desktop {
        display: none;
    }

    .flex_nav_tablet {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 75rem;
        margin: 0 auto;
    }

    header nav .fa-solid {
        display: none;
    }

    .flex_nav_desktop {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    header nav ul {
        display: block;
        color: var(--primary_color);
    }

    header nav ul li {
        padding: 15px;
    }
}